#menu-bar {
  background-color: gray;
  width: 100%;
  height: 5%;
}
#Home {
  border-style: solid;
  background-color: gray;
  border-color: gray;
}

#Home:hover {
  border-style: solid;
  background-color: white;
  border-color: white;
}
