#menu-bar {
  background-color: gray;
  width: 100%;
  height: 5%;
}

#Home {
  border-style: solid;
  background-color: gray;
  border-color: gray;
}

#Home:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}

#Download {
  border-style: solid;
  background-color: gray;
  border-color: gray;
}

#Download:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}

#About {
  border-style: solid;
  background-color: gray;
  border-color: gray;
}

#About:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}

#More-Info {
  border-style: solid;
  background-color: gray;
  border-color: gray;
}

#More-Info:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}

#Search {
  border-style: solid;
  background-color: gray;
  border-color: gray;
}

#Search:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}
