#menu-bar {
  background-color: gray;
  width: 100%;
  height: 5%;
}
#Home {
  background-color: gray;
}

#Home:hover {
  background-color: white;
}

#Download {
  background-color: gray;
}

#Download:hover {
  background-color: white;
}

#About {
  background-color: gray;
}

#About:hover {
  background-color: white;
}

#More-Info {
  background-color: gray;
}

#More-Info:hover {
  background-color: white;
}

#Search {
  background-color: gray;
}

#Search:hover {
  background-color: white;
}
