#menu-bar {
  background-color: black;
  opacity: 75%;
  width: 100%;
  height: 5%;
}

#Home {
  border-style: solid;
  border-color: gray;
  text-decoration: none;
}

#Home:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}

#Download {
  border-style: solid;
  border-color: gray;
  text-decoration: none;
}

#Download:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}

#About {
  border-style: solid;
  border-color: gray;
  text-decoration: none;
}

#About:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}

#More-Info {
  border-style: solid;
  border-color: gray;
  text-decoration: none;
}

#More-Info:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}

#Search {
  border-style: solid;
  border-color: gray;
  text-decoration: none;
}

#Search:hover {
  border-style: solid;
  background-color: lightgray;
  border-color: lightgray;
}
