#menu-bar {
  background-color: black;
  opacity: 75%;
  width: 100%;
  height: 7%;
}

#Home {
  border-style: solid;
  text-decoration: none;
  border-color: black;
  color: dimgray;
}

#Home:hover {
  border-style: solid;
  color: white;
  border-color: black;
}

#Download {
  border-style: solid;
  text-decoration: none;
  border-color: black;
  color: dimgray;
}

#Download:hover {
  border-style: solid;
  color: white;
  border-color: black;
}

#About {
  border-style: solid;
  text-decoration: none;
  border-color: black;
  color: dimgray;
}

#About:hover {
  border-style: solid;
  color: white;
  border-color: black;
}

#More-Info {
  border-style: solid;
  text-decoration: none;
  border-color: black;
  color: dimgray;
}

#More-Info:hover {
  border-style: solid;
  color: white;
  border-color: black;
}

#Search {
  border-style: solid;
  text-decoration: none;
  border-color: black;
  color: dimgray;
}

#Search:hover {
  border-style: solid;
  color: white;
  border-color: black;
}
