body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}

#menu-bar {
  user-select: none;
  background-color: black;
  opacity: 75%;
  width: 100%;
  height: 45;
}

#Home {
  position: absolute;
  cursor: pointer;
  top: 22.5;
  left: 16%;
  text-decoration: none;
  color: dimgray;
}

#Home:hover {
  color: white;
}

#Download {
  position: absolute;
  cursor: pointer;
  top: 22.5;
  left: 32%;
  text-decoration: none;
  color: dimgray;
}

#Download:hover {
  color: white;
}

#About {
  position: absolute;
  cursor: pointer;
  top: 22.5;
  left: 48%;
  text-decoration: none;
  color: dimgray;
}

#About:hover {
  color: white;
}

#More-Info {
  position: absolute;
  cursor: pointer;
  top: 22.5;
  left: 64%;
  text-decoration: none;
  color: dimgray;
}

#More-Info:hover {
  color: white;
}

#Search {
  position: absolute;
  cursor: pointer;
  top: 22.5;
  left: 80%;
  text-decoration: none;
  color: dimgray;
}

#Search:hover {
  color: white;
}
